<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

    <div class="row mt-2 ml-2">
        <h4 th:utext="#{adduser.label.head}">
            Label head
        </h4>
    </div>

    <!-- начало ДАННЫЕ ПОЛЬЗОВАТЕЛЯ -->
    <div class="row text-center justify-content-center">
        <form class="w-25" th:action="@{${urlRoot}}" th:object="${user}" th:method="post">
            <input type="hidden" th:field="${user.id}"/>

            <div class="form-group">
                <label for="inputName" class="font-weight-bold" th:utext="#{user.label.name}">Name</label>
                <span th:if="${#fields.hasErrors('name')}" th:style="${'color:red;'}" th:errors="*{name}">Name Error</span>
                <input id="inputName" class="form-control form-control-sm" type="text" style="background: #F5EAC1;" th:field="*{name}" th:placeholder="#{user.label.name}" />
            </div>

            <div class="form-group">
                <label for="inputLast" class="font-weight-bold" th:utext="#{user.label.lastName}">Lastname</label>
                <span th:if="${#fields.hasErrors('lastName')}" th:style="${'color:red;'}" th:errors="*{lastName}">LastName Error</span>
                <input id="inputLast" class="form-control form-control-sm" type="text" style="background: #F5EAC1;" th:field="*{lastName}" th:placeholder="#{user.label.lastName}" />
            </div>

            <div class="form-group">
                <label for="inputAge" class="font-weight-bold" th:utext="#{user.label.age}">Age</label>
                <span th:if="${#fields.hasErrors('age')}" th:style="${'color:red;'}" th:errors="*{age}">Age Error</span>
                <input id="inputAge" class="form-control form-control-sm" type="number" th:field="*{age}" th:placeholder="#{user.label.age}" />
            </div>

            <div class="form-group">
                <label for="inputEmail" class="font-weight-bold" th:utext="#{user.label.email}">Email</label>
                <span th:if="${#fields.hasErrors('email')}" th:style="${'color:red;'}" th:errors="*{email}">Email Error</span>
                <input id="inputEmail" class="form-control form-control-sm" type="email" style="background: #F5EAC1;" th:field="*{email}" th:placeholder="#{user.label.email}" />
            </div>

            <div class="form-group">
                <label for="inputPassword" class="font-weight-bold" th:utext="#{user.label.password}">Password</label>
                <span th:if="${#fields.hasErrors('password')}" th:style="${'color:red;'}" th:errors="*{password}">Password Error</span>
                <input id="inputPassword" class="form-control form-control-sm" type="password" th:field="*{password}" th:placeholder="#{user.label.password}" />
            </div>

            <div class="form-group">
                <label for="selectRole" class="font-weight-bold">Role</label>
                <select multiple id="selectRole" class="form-control" th:field="*{enumRoles}" size="2" aria-describedby="roleHelp">
                <!--    TODO почему не работает selectpicker в select?   -->
                    <option th:each="role : ${T(jm.spring.bootstrap.entity.Roles).values()}"
                            th:value="${role}"
                            th:utext="${role}"> Как сделать активной строку в зависимости от имеющейся роли
                    </option>
                </select>
                <small id="roleHelp" class="form-text text-muted text-left">Ctrl - несколько ролей </small>
            </div>
            <button type="submit" name="save" class="btn btn-success" th:inline="text">[[#{adduser.btn.add}]]</button>
        </form>
    </div>
    <!-- конец ДАННЫЕ ПОЛЬЗОВАТЕЛЯ -->

