<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"-->
<head>
</head>

<body>

<div th:fragment="table-admin">
    <div class="row mt-2 ml-2">
        <h4 th:utext="#{tblusers.label.head}">
            Label head
        </h4>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th id="id" th:utext="#{user.label.id}">Name</th>
                        <th id="name" th:utext="#{user.label.name}">Name</th>
                        <th id="lastName" th:utext="#{user.label.lastName}">Last Name</th>
                        <th id="age" th:utext="#{user.label.age}">Age</th>
                        <th id="email" th:utext="#{user.label.email}">E-mail</th>
                        <th id="role" th:utext="#{user.label.role}">Role</th>
                        <th id="buttonUpdate" th:utext="#{tblusers.btn.edit}">Update</th>
                        <th id="buttonDelete" th:utext="#{tblusers.btn.delete}">Delete</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each ="u : ${listUsers}">
                        <td th:utext="${u.id}">...</td>
                        <td th:utext="${u.name}">...</td>
                        <td th:utext="${u.lastName}">...</td>
                        <td th:utext="${u.age}">...</td>
                        <td th:utext="${u.email}">...</td>
                        <td>
                            <span th:each="role : ${u.enumRoles}"
                                  th:utext="${role} + ' '">
                            </span>
                        </td>
                        <td>
                            <a class="btn btn-primary editBtn" th:href="@{{home}/{id}(home=${urlRoot}, id=${u.id})}" th:object="${u}"
                               name="update" th:value="#{tblusers.btn.edit}">Edit
                            </a>
<!--                            <form th:method="PATCH" th:action="@{{home}/{id}(home=${urlRoot}, id=${u.id})}" th:object="${u}">-->
<!--                                <input class="btn btn-primary btn-sm" type="button" name="update" th:value="#{tblusers.btn.edit}">-->
<!--                            </form>-->
                        </td>
                        <td>
<!--                            <form th:method="DELETE" th:action="@{{home}/{id}(home=${urlRoot}, id=${u.id})}">-->
<!--                                <input class="btn btn-danger btn-sm" type="button" name="delete" th:value="#{tblusers.btn.delete}">-->
<!--                            </form>-->
                            <a class="btn btn-danger delBtn" th:href="@{{home}/delete/{id}(home=${urlRoot}, id=${u.id})}" th:object="${u}"
                                name="delete" th:value="#{tblusers.btn.delete}">Delete
                            </a>
                            <a class="btn btn-danger delBtn" th:href="@{/admin/delete/1}">Delete</a>
                            <a class="btn btn-danger delBtn" data-toggle="modal" hdata-target="#myModal"   th:href="@{/admin/delete/1}">Delete</a>



                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>

</html>