<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"-->
<head>

    <div th:fragment="header-css">
        <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.14/dist/css/bootstrap-select.css}"/>
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.6.1/css/bootstrap.min.css} "/>
    </div> <!-- header-css -->

</head>

<body>

    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between sticky-top">
            <div th:text="${#authentication.isAuthenticated()}" class="navbar-brand col-md-auto">
                <strong th:text="${#authentication.name}">NAME</strong>
                <span th:utext="#{main.title.roles}">..</span>
                <span th:utext="${stringRoles}">ROLES</span>
<!--                <span th:text="${#authorization.url('/admin')}"> URL </span>-->
                <!-- <span sec:authentication="principal.authorities">ROLES</span> TODO здесь выводит сущности ролей из БД, надо преобразовывать в строку -->
            </div>
            <div class="navbar-brand col-md-auto">
                <a th:href="@{logout}" class="nav-link text-light" th:utext="#{main.button.logout}">Logout</a>
            </div>
        </nav>
    </div> <!-- header -->

    <div th:fragment="menu-role">
        <div sec:authorize="isAuthenticated()" class="row row-cols-1 text-center">

<!--            sec:authorize="hasRole('ADMIN')"-->
            <div th:text="${#authentication.getAuthorities().contains('ADMIN')}" class="col btn-warning text-center">
                    <a th:if="${urlRoot == '/admin'}" class="btn btn-block btn-primary" role="button" th:href="@{/admin}">ADMIN</a>
                    <a th:if="${urlRoot != '/admin'}" class="btn btn-block btn-light" role="button" th:href="@{/admin}">ADMIN</a>
                </div>
                <div sec:authorize="hasRole('USER')" class="col btn-warning">
                    <a th:if="${urlRoot == '/user'}" class="btn btn-block btn-primary" role="button" th:href="@{/user}">USER</a>
                    <a th:if="${urlRoot != '/user'}" class="btn btn-block btn-light" role="button" th:href="@{/user}">USER</a>
<!--                    <a class="btn ${btnUser} btn-block" role="button" th:href="@{/user}">USER</a>-->
                </div>

        </div>
    </div>


    <div th:fragment="footer-script">
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{assets/bootstrap-select-1.13.14/dist/js/bootstrap-select.js}"></script>
    </div> <!-- footr-script -->


</body>

</html>
