<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:utext="#{page.title.show-user}">Page title</title>
</head>
<body>
<form th:action="@{${urlRoot}}" th:object="${user}" th:method="post">
    <div>
        <input type="hidden" th:field="${user.id}"/>

        <label th:utext="#{table.column.name}">Name</label>
        <span th:if="${#fields.hasErrors('name')}" th:style="${'color:red;'}" th:errors="*{name}">Name Error</span>
        <br>
        <input type="text" th:field="*{name}" placeholder="string" />
        <br>

        <label th:utext="#{table.column.lastName}">Last Name</label>
        <span th:if="${#fields.hasErrors('lastName')}" th:style="${'color:red;'}" th:errors="*{lastName}">Lastname Error</span>
        <br>
        <input type="text" th:field="*{lastName}" placeholder="string" />
        <br>

        <label th:utext="#{table.column.age}">Age</label>
        <span th:if="${#fields.hasErrors('age')}" th:style="${'color:red;'}" th:errors="*{age}">Age Error</span>
        <br>
        <input type="number" th:field="*{age}"  placeholder="integer" />
        <br>

        <label th:utext="#{table.column.email}">Email</label>
        <span th:if="${#fields.hasErrors('email')}" th:style="${'color:red;'}" th:errors="*{email}">Email Error</span>
        <br>
        <input type="text" th:field="*{email}" placeholder="string" />
        <br>

        <label th:utext="#{table.column.password}">Password</label>
        <span th:if="${#fields.hasErrors('password')}" th:style="${'color:red;'}" th:errors="*{password}">Password Error</span>
        <br>
        <input type="text" th:field="*{password}" placeholder="string" />
        <br>

        <label th:utext="#{table.column.role} + '<br>'">Role</label>
        <input type="text" th:field="*{textRoles}" placeholder="string" />
    </div>

    <div>
        <input type="submit" name="save" th:value="#{button.save}">
        <input type="submit" name="redirect" th:value="#{button.cancel}">
    </div>
</form>
</body>
</html>