<!DOCTYPE HTML>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <meta charset="UTF-8"/>-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:utext="#{page.title.all-users}">Admin panel</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.6.1/css/bootstrap.min.css} "/>
</head>
<body>





<!-- Navigation -->
<nav class="navbar navbar-dark bg-dark static-top">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-auto">
                <strong class="navbar-brand" th:inline="text">[[${#httpServletRequest.remoteUser}]]</strong>
                <label class="navbar-brand" th:utext="#{main.title.roles} + ' Роли пока неизвестны'">..</label>
            </div>
            <div class="col-md-auto">
                <a class="nav-link" href="#" th:utext="#{main.button.logout}">Logout</a>
            </div>
        </div>
<!--        <span th:utext="#{page.you.are}"></span> <strong th:inline="text"> [[${#httpServletRequest.remoteUser}]] </strong>-->
<!--        <form th:action="@{/logout}" method="POST">-->
<!--            <input type="submit" th:value="#{button.logout}"/>-->
<!--        </form>-->

    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs mt-5" id="myTabs">
                <li class="nav-item"><a href="#tab1" data-url="/admin/tab1" class="nav-link active" th:utext="#{tab.all-users}">Tab1</a></li>
                <li class="nav-item"><a href="#tab2" data-url="/admin/tab2" class="nav-link" th:utext="#{tab.add-user}">Tab2</a></li>
            </ul>

            <div class="tab-content pt-3">
                <div class="tab-pane active" id="tab1">Active panel</div>
                <div class="tab-pane" id="tab2"></div>
            </div>
        </div>
    </div>

</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>
    $('#myTabs a').click(function (e) {
        e.preventDefault();

        var url = $(this).attr("data-url");
        var href = this.hash;
        var pane = $(this);

        // ajax load from data-url
        $(href).load(url, function (result) {
            pane.tab('show');
        });
    });

    // load first tab content
    $('#tab1').load($('.nav-link.active').attr("data-url"), function (result) {
    });

</script>

</body>
</html>